<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="atlas.c.smartview.ControlFlowWithinFunction">
      </script>
      <script
            class="atlas.c.smartview.DataFlowWithinFunction">
      </script>
      <script
            class="atlas.c.smartview.MatchingPairSearchModel">
      </script>
      <script
            class="atlas.c.smartview.Typeof">
      </script>
   </extension>
</plugin>
