<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- adds language specific analyses -->
   <extension point="com.ensoftcorp.open.commons.language.analysis">
      <language-specific-analysis class="com.ensoftcorp.open.c.commons.analysis.CallSiteAnalysis"></language-specific-analysis>
   </extension>
   
</plugin>
